* {
    box-sizing: border-box;
}

.main-nav {
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index: 5;
    left: 0%;
    top: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    padding: 5px 25px;
}

#logo {
    width: 170px;
    height: 35px;
}

.nav-item {
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69, 69, 69);
    transition: 0.2s;
}

.language {
    list-style: none;
    padding: 5px;
}

.nav-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;

}

.nav-item:hover {
    background-color: rgb(226, 226, 226);
}

.navbar .toggle-btn {
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin: 0px 2px 0px 10px;
}

.navbar form {
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}

.navbar form input {
    min-width: 100%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: 1px solid #0000003e;
    border-radius: 3px;
}

.navbar form .search-icon {
    position: absolute;
    left: 25px;
    top: 8px;
}


.nav-links {
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    background-color: #009bff;
    cursor: pointer;
    color: #ffffff;
    margin-left: 15px;
    font-weight: 600;
}

.nav-links:hover {
    background-color: #f8f9f9;
    border: 1px solid #009bff;
    color: #009bff;
    font-weight: 600;
}

.language {
    display: flex;
    gap: 10px;
    align-items: center;
}

.language button {
    height: 34px;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    background-color: #009bff;
    color: #f8f9f9;
    cursor: pointer;
}

/* Dropdown menu */
.main-nav .dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 40px;
    width: 200px;
    height: 0px;

    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.main-nav .dropdown-menu .toggle-btn {
    font-size: 24px;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 100px;
    right: 10px;
}

.main-nav .open {
    height: auto;
}


.main-nav .dropdown-menu .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px 3px;
    padding: 5px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69, 69, 69);
    transition: 0.2s;
}

.main-nav .dropdown-menu .nav-items:hover {
    background-color: rgb(200, 203, 205);
}


.main-nav .dropdown-menu .nav-links1 {
    margin: auto;
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    background-color: #009bff;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 5px;
}

.main-nav .dropdown-menu .nav-links1:hover {
    background-color: #f8f9f9;
    border: 1px solid #009bff;
    color: #009bff;
}

.main-nav .dropdown-menu .nav-btns {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

/* Leftsidebar */
.toggleBtn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
    color: black;
}

.language .google-ele #google_translate_element select {
    padding: 8px;
    /* Adjust padding as needed */
    font-size: 13px;
    /* Adjust font size as needed */
    border: 1px solid #ccc;
    /* Add border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    background-color: #fff;
    /* Set background color */
    color: #333;
    /* Set text color */
    appearance: none;
    /* Remove default dropdown arrow */
    -webkit-appearance: none;
    /* For older versions of Chrome */
    -moz-appearance: none;
    /* For Firefox */
}

/* Add styles for when the select is hovered or focused */
.language .google-ele #google_translate_element select:hover,
.language .google-ele #google_translate_element select:focus {
    border-color: #007bff;
    /* Change border color on hover/focus */
    outline: none;
    /* Remove default focus outline */
}

.language .google-ele .VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
    font-size: 11px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    display: none;
}



@media (max-width:600px) {
    .main-nav {
        width: auto;
        height: 60px;
    }

    .navbar {
        width: 100%;
        padding: 0px;
        overflow-x: auto;
    }

    .nav-logo {
        padding: 0px 5px;
    }

    #logo {
        width: 130px;
        height: 35px;
    }

    .subscription .main-bar .main-box {
        display: flex;
        flex-direction: column;
    }

    .user-submit-btn {
        padding: 6px 11px;
        font-size: 14px;
    }

    .language {
        display: flex;
        gap: 1px;
        align-items: center;
        margin-left: -33px;
    }

    .language button {
        height: 28px;
        width: 46px;
        padding: 1px;
        font-size: 9px;
        border-radius: 4px;
        border: none;
        background-color: #009bff;
        color: #f8f9f9;
        cursor: pointer;

    }

    .language .google-ele .goog-te-gadget img {
        display: none;
    }

    .language .google-ele #google_translate_element select {
        padding: 6px;
        font-size: 11px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }


    .language .google-ele #google_translate_element select:hover,
    .language .google-ele #google_translate_element select:focus {
        border-color: #007bff;
        outline: none;
    }

    .language .google-ele .VIpgJd-ZVi9od-l4eHX-hSRGPd,
    .VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
    .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
    .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
    .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
        font-size: 11px;
        font-weight: bold;
        color: #444;
        text-decoration: none;
        display: none;
    }

    /* .language .google-ele #text{
        font-size: 12px;
        font-weight: bold;
        color: #444;
        text-decoration: none;
        display: none;
    } */


    .navbar .nav-item,
    .navbar .search-icon,
    .navbar form .search-bar,
    .navbar .avatar {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .main-nav .dropdown-menu {
        display: block;
    }

    /* Move the language class styles to the dropdown-menu */
    .main-nav .dropdown-menu .language {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .main-nav .dropdown-menu .language button {
        height: 34px;
        padding: 10px;
        font-size: 15px;
        border-radius: 4px;
        border: none;
        background-color: #009bff;
        color: #f8f9f9;
        cursor: pointer;
    }

}



@media (max-width:992px) {
    .main-nav {
        width: 100%;
        height: 60px;
    }

    /* .navbar {
        width: 100%;
        gap: 6px;
        padding: 20px;
    } */

    /* #logo {
        width: 170px;
        height: 33px;
        font-weight: 700;
    } */

    .navbar .nav-item,
    .navbar .search-icon,
    .navbar form .search-bar,
    .navbar .avatar {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
        /* color: black; */
    }

    .main-nav .dropdown-menu {
        display: block;
    }
}